{
  "env": {
    "development": {
      "presets": ["next/babel", "@emotion/babel-preset-css-prop"]
    },
    "production": {
      "presets": ["next/babel", "@emotion/babel-preset-css-prop"]
    },
    "test": {
      "presets": ["next/babel", "@emotion/babel-preset-css-prop"]
    }
  },
  "plugins": ["@emotion"]
}
