html,
body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #171a1f;
  color: #b2b3b8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  background: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
}
